

<button class="AjaxCalistir" >Ajax 1</button>
<br />


<button class="AjaxVeriGonder"> Ajax 2 </button>
<br />


<button class="AjaxNesneDonduren"> Ajax 3 </button>
<br />


<button class="AjaxViewDonduren"> Ajax 4 </button>
<br />


<div class="AjaxCalistir"> denemeeeee </div>



<div class="burayayaz">

    ......

</div>



