

<a href="/home/KategoriListe?Tur=Cocuk"> Cocuk kategorilerine git</a>

<h1> Örnek View -1 </h1>



<form action="/Ornek/PostParametreIleCalisanMetot" method="post">
    <input name="No" type="number" />
    <input name="Ad" type="text" />
    <button type="submit" > Gonder </button>
</form>


<br />




<form action="/Ornek/PostModelIleCalisanMetot" method="post">
    <input name="No" type="number" />
    <input name="Ad" type="text" />
    <button type="submit"> Gonder </button>

</form>