

<a href="/home/KategoriListe?Tur=Cocuk"> Cocuk kategorilerine git</a>

<h1> Örnek View -1 </h1>


<h1>Linq Örnekleri  </h1>

<a href="/Ornek/TolistOrnek"><button type="button" class="btn btn-primary">Tolist</button></a>
<a href="/Ornek/FirsOrDefaultOrnek"><button type="button" class="btn btn-secondary">FirstOrDefault</button></a>
<a href="/Ornek/OrderByOrnek"><button type="button" class="btn btn-success">Order by </button></a>
<a href="/Ornek/JoinOrnek"><button type="button" class="btn btn-danger">Join</button></a>
<a href="/Ornek/GroupByOrnek"><button type="button" class="btn btn-warning">Goup by </button></a>
<a href="/Ornek/CountOrnek"><button type="button" class="btn btn-info">Count</button></a>
<a href="/Ornek/MinMaxOrnek"><button type="button" class="btn btn-light">Min Max</button></a>
<a href="/Ornek/TakeOrnek"><button type="button" class="btn btn-dark">Take</button></a>


<button type="button" class="btn btn-dark">Örnek Soru</button>




<form action="/Ornek/PostParametreIleCalisanMetot" method="post">
    <input name="No" type="number" />
    <input name="Ad" type="text" />
    <button type="submit" > Gonder </button>
</form>


<br />




<form action="/Ornek/PostModelIleCalisanMetot" method="post">
    <input name="No" type="number" />
    <input name="Ad" type="text" />
    <button type="submit"> Gonder </button>

</form>